<div class="boxed">
<fieldset>
  <legend><%= contact.name %></legend>
</fieldset>

  <p><strong>Email: </strong><%= contact.email %></p>
  <p><strong>Phone Number: </strong><%= contact.phone_number %></p>

  <% if contact.appointments.any? %>
  <p><a href="#" class="showApptLink" id="show<%=contact.id%>" data-thisId="<%=contact.id%>">Click to view upcoming appointments with this Contact.</a></p>
  <ul id="contact<%=contact.id%>Appts"></ul>
  <% end %>

  <fieldset><legend></legend></fieldset>

  <p><%= link_to "Edit", edit_contact_path(contact) %> |
     <%= link_to "Delete", contact_path(contact), method: :delete, data: { confirm: "Are you sure you want to delete this appointment?" } %> |
     <%= link_to "Back", contacts_path %>
   </p>

</div>
