<tr>
  <td><%= g.label :name %></td>
  <td class="left"><%= g.text_field :name, :placeholder=> "Contact name" %> </td>
</tr>
<tr>
  <td><%= g.label :email %></td>
  <td class="left"><%= g.text_field :email, :placeholder=> "Contact email" %> </td>
</tr>
<tr>
  <td><%= g.label :phone_number, "Phone" %></td>
  <td class="left"><%= g.text_field :phone_number, :placeholder=> "Phone Number" %> </td>
</tr>
